// solarized colors
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

body {
//background-color: $base3;
color: $base03;
font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
font-size: 22px;
margin: 0 auto;
padding: 0px 3%;
}

h1 {
    color: $green;

    a { color: $green;
        text-decoration-line: none;
    }
}

h2 {
    color: $yellow;
}

a {
    color: $cyan;
}

blockquote {
    background-color: $base2;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;

}

.header-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}

.header-item-initial {
    margin-right: 30px;
}

.header-item {
    margin-right: 10px;
}

.footer-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
}

.footer-item {
    margin-right: 10px;
}

.content {
    max-width: 1000px;
}

